// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* header */
.navbar-static-top {
  border-color: rgb(14, 60, 65);
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgb(90, 134, 255);
  border-top: 14px solid rgb(10, 9, 41);
  border-bottom: 1px solid rgb(14, 60, 65);
  margin-bottom: 20px;
  margin-top: 0px;
  height: 12rem;
  font-size:3rem;
}

.navbar-brand{
  font-size:5rem;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
  }
  
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:rgb(14, 60, 65);
  background-size:cover;
  color:#666;
  overflow-x: hidden;
  overflow-y: auto;
}

.clearfix {
  &:after {
    clear: both;
    display: table;
    content: " ";
  }
  &:before {
    display: table;
    content: " ";
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5rem;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;
      font-size:2rem;
      a {
        color: inherit;
      }
    }
  }
}

/* Add container and footer space */
#app > div.container {
  margin-bottom: 100px;
}

/* box */
.boxall {
  border: 3px solid rgba(25,186,139,.17);
  padding:0 2rem 4rem 2rem;
  background: rgba(255,255,255,.04);
  background-size: 100% auto;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  height: 37rem;
}
.boxall:before,
.boxall:after {
  position: absolute;
  width: 3rem;
  height: 3rem;
  content: "";
  border-top: 3px solid #0252ffa2;
  top: 0;
}
.boxall:before,.boxfoot:before {
  border-left: 3px solid #0252ffa2;
  left: 0;
}
.boxall:after,.boxfoot:after {
  border-right: 3px solid #0252ffa2;
  right: 0;
}

.boxall_3d {
  border: 3px solid rgba(25,186,139,.17);
  padding: 0 2rem 4rem 2rem;
  background: rgba(255,255,255,.04);
  background-size: 100% auto;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  height: 73rem;
}

.boxall_3d:before,
.boxall_3d:after {
  position: absolute;
  width: 3rem;
  height: 3rem;
  content: "";
  border-top: 3px solid #0252ffa2;
  top: 0;
}
.boxall_3d:before,.boxfoot:before {
  border-left: 3px solid #0252ffa2;
  left: 0;
}
.boxall_3d:after,.boxfoot:after {
  border-right: 3px solid #0252ffa2;
  right: 0;
}

.alltitle {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 4rem;
}

.boxfoot {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.boxfoot:before,
.boxfoot:after {
  position: absolute;
  width: 3rem;
  height: 3rem;
  content: "";
  border-bottom: 3px solid #0252ffa2;;
  bottom: 0;
}

.allnav {
  height: calc(100% - 30px);
}

/*安防box特供*/
.pulll_left{
  float:left;
}

.bar {
  background: rgba(101, 132, 226, 0);
  padding: 2rem;
}

.barbox1 {
  li {
    width:33%; 
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 2.5rem;
    color: rgba(255,255,255,.7);
    padding-top: .1rem;
  }
}

.barbox2{
  li {
    width:33%; 
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 2.5rem;
    color: rgb(22, 219, 121);
    padding: .05rem 0;
    font-family: electronicFont;
    font-weight: bold;
  }
}



ul {
  list-style: none;
  & > li {
    float: left;
    padding: 0 .1rem;
  }
}
/*谷哥滚动条样式*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background-color: #0252ffa2;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}

/*动态背景*/

canvas {
  opacity: 0.8;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  position:fixed;z-index:-10;
  zoom: 1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}


