// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* header */
.navbar-static-top {
  border-color: rgb(14, 60, 65);
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgb(36, 109, 119);
  border-top: 14px solid rgb(14, 60, 65);
  border-bottom: 1px solid rgb(14, 60, 65);
  margin-bottom: 20px;
  margin-top: 0px;
  height: 8rem;
  font-size:25px;
}

.navbar-brand{
  font-size:40px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
  }
  
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:rgb(14, 60, 65);
  background-size:cover;
  color:#666;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* Add container and footer space */
#app > div.container {
  margin-bottom: 100px;
}

/* box */
.boxall {
  border: 2px solid rgba(25,186,139,.17);
  padding:0 1rem 2rem 1rem;
  background: rgba(255,255,255,.04);
  background-size: 100% auto;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  height: 30rem;
}
.boxall:before,
.boxall:after {
  position: absolute;
  width: .5rem;
  height: .5rem;
  content: "";
  border-top: 2px solid #02a6b5;
  top: 0;
}
.boxall:before,.boxfoot:before {
  border-left: 2px solid #02a6b5;
  left: 0;
}
.boxall:after,.boxfoot:after {
  border-right: 2px solid #02a6b5;
  right: 0;
}

.boxall_3d {
  border: 2px solid rgba(25,186,139,.17);
  padding: 0 1rem 2rem 1rem;
  background: rgba(255,255,255,.04);
  background-size: 100% auto;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  height: 61.4286rem;
}

.boxall_3d:before,
.boxall_3d:after {
  position: absolute;
  width: .5rem;
  height: .5rem;
  content: "";
  border-top: 2px solid #02a6b5;
  top: 0;
}
.boxall_3d:before,.boxfoot:before {
  border-left: 2px solid #02a6b5;
  left: 0;
}
.boxall_3d:after,.boxfoot:after {
  border-right: 2px solid #02a6b5;
  right: 0;
}

.alltitle {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  line-height: 4rem;
}

.boxfoot {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.boxfoot:before,
.boxfoot:after {
  position: absolute;
  width: .5rem;
  height: .5rem;
  content: "";
  border-bottom: 2px solid #02a6b5;
  bottom: 0;
}
